a {
  color: #B31B1B;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #D47500;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Computer Modern Sans', 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px
}

strong {
  font-family: 'Computer Modern Sans', 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

heading {
  font-family: 'Computer Modern Sans', 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
}

papertitle {
  font-family: 'Computer Modern Sans', 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700
}

name {
  font-family: 'Computer Modern Sans', 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700
}

.one, .side-square-image {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}